*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #1abc9c;
}


.container{
    display: grid;
  justify-content: center;
  margin-top: 11%;
  
}

.wrapper{
    background-color: white;
  width: 378px;
  border-radius: 14px;
  z-index: 1;
}

.wrapper .title{
    font-size: 30px;
  padding: 24px;
  padding-left: 26%;
  color: white;
  background-color: #16a085;
  font-weight: 700;
  border-radius: 14px 14px 0px 0px;
}

.row{
    margin-left: 35px;
margin-top: 25px;
  position: relative;
}

.row i{
    font-size: 25px;
  color: white;
  background-color: #16a085;
  padding: 8px;
  border-radius: 9px;
  position: absolute;
  
}

.row input{
    font-size: 19px;
  height: 40px;
  padding-left: 51px;
  border-radius: 9px;
  outline: none;
  font-weight: bold;
  border-color: #16a085;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}

.ro{
    
        margin-left: 35px;
    margin-top: 25px;
      position: relative;
    
}

.ro input{
    font-size: 19px;
  height: 40px;
  padding-left: 51px;
  border-radius: 9px;
  outline: none;
  font-weight: bold;
  border-color: black;
  transition: all 0.3s linear;
  
}




.for:hover{
    text-decoration: underline;
    text-decoration-color: #16a085;
   
}





.sign{
    display: flex;
  padding: 23px;
  margin-left: 20px;
  font-size: 23px;
}

.sign a{
    text-decoration: none;
  font-size: 23px;
  color: #16a085;
  font-weight: bold;
  padding-left: 10px;
}

.sign a:hover{
    text-decoration: underline;
    text-decoration-color: #16a085;
   
}